h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase
}

img {
    border: 5px solid white ;
    width: 100%;
}

body {
    background-color: black;
}

.text {
    color: white;
    text-align: center;
}

div {
    width: 50%;
    margin: 0 25% ;
}